* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 30px 0;
  background: #6459f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Media Queries */

@media (max-width: 663px) {
  .App {
    padding: 30px 16px;
    align-items: center;
  }
}
